/* Settings Page */
#settings-mode, #settings-option{
	vertical-align:top;
}
#settings-option-redirect, #settings-option-theme{
	display:none;
}
#update-wp-mcs *{
	vertical-align: top;
}
.mode{
	vertical-align: middle !important;
	padding-bottom: 10px;
}
#wp-mcs-redirect{
	min-width: 200px;
}
#wp-mcs-theme{
	min-width: 200px;
}
#theme_name{
	font-style: italic;
}
#theme_screen{
	width: 600px;
	max-width: 100%;
	border: 10px solid white;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    3px 3px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         3px 3px 3px 0px rgba(0, 0, 0, 0.25);
}